/*css for website


.texto {
color: chartreuse;

} */

/* *{
Para seleccionar todo
} */

html {
    font-family: "Familjen Grotesk";
}

body{
    margin: 20px;
    background-color: black;
    color: rgb(253, 237, 226);
}

header {
background-image: url("imgs/LogoCabezera2.png");
position: relative;
background-size: contain;
background-repeat: no-repeat;
background-position: top;

min-height: 400px;
top: 0.01px;
position: sticky;



}




form{
    width: 400px;
    margin: 0 auto ;
    padding: 18px;
    background-color: rgb(153, 67, 11);
    text-align: center;
    border-radius: 5px;
}
form:hover{
    cursor: pointer;
    transition: 2s;
}

.milanuncios{

    text-align: center;
    color: rgb(153, 67, 11);
    background-color:rgb(253, 237, 226);
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgb(44, 44, 44); 
    width: 200px;
    margin: 0 auto;
}
.botonmilanuncios{
    width: 600px;
    margin: 0 auto; 
    text-align: center;
    padding: 150px;
}

.RRSS {

    font-size: 13px;
}
.final {
    font-size: 12px;
}

a:link{
    transition: color 0.3s ease;
color:rgb(153, 67, 11) ;
text-align: center;
cursor: pointer;
text-decoration: none;
}

a:hover{
color: cornflowerblue;
cursor: pointer;
}
a:active{
color: darkcyan;
cursor: pointer;
}

ul, li{
background-color: aqua;

}

table {
    width: 100%;
   border-collapse: collapse;
   text-align: center;
}

th, td {
    border: 1px solid  black;
    padding: 10px;
}

footer section{
    float: right;
    padding: 1rem;
}

footer p{ 
    margin: 0;
}


#preguntanos{
    width: 200px;
   margin: 0 auto; 
   text-align: center;
}
#anuncDispon{
    width: 400px;
    margin: 0 auto;
    text-align: center; 
}
#impCompl{
    width: 700px;
    margin: 0 auto; 
    text-align: center;
}

.coche1{
    width: 700px;
    margin: 0 auto ;
    height: 700px;
    padding: 18px;
    background-color: rgb(153, 67, 11);
    text-align: center;
    border-radius: 5px;
    overflow: scroll;
}

.trasera {
    float: center;
    overflow: scroll;
}

.delantera {
    float: center;
    overflow: scroll;
}
